/* Define o estilo do root */
.root {
    -fx-background-color: #f0f0f0;
}

/* Estilo para Labels */
.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
}

/* Estilo para botões */
.button {
    -fx-background-color: #007acc;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* Botão ao passar o mouse */
.button:hover {
    -fx-background-color: #005f99;
}
